
.custom-cursor {
    cursor: url('cutie.png'), auto;
}





p {
  width: px;
  height: 100px;
  opacity:0;
  font-size: 18px; 
font-family: "Courier New";
  -webkit-animation-fill-mode: forwards;
  background-color: white;
  animation-name: fadeInAndOut;
  animation-duration: s;
  animation-delay: 1s;
transition: opacity 0.5s ease-in-out;
}

video {
width: 800px; 
  height: 500px;
  opacity:0;
  -webkit-animation-fill-mode: forwards;
  background-color: white;
  animation-name: fade;
  animation-delay: 1s;
    :-webkit-media-controls 
      display: none;
   :-webkit-media-controls-enclosure 
      display: none;
    :-webkit-media-controls-panel 
      display: none;
    transition: opacity 0.5s ease-in-out;

}

img{
   width: 70%; 
    height: 70%;
    margin-left: 170px;

}








#first{    
    position:absolute;
    top: 300px;
    left: 650px;
    animation-duration: 4s;
    animation-delay: 1s;

        
}

#second{
    position:absolute;
    top: 300px;
    left: 200px;
    animation-duration: 20s;
    animation-delay: 6s;
    
}

#third{
 position:absolute;
    top: 300px;
    left: 720px;
    animation-duration: 15s;
    animation-delay: 10s;   
    
}

#fourth{
    position:absolute;
    top: 300px;
    left: 820px;
    animation-duration: 10s;
    animation-delay: 14s;
    
}


#fifth{
    position:absolute;
    top: 300px;
    left: 930px;
    animation-duration: 4s;
    animation-delay: 18s;
}


#sixth{ 

position:absolute;
    top: 300px;
    left: 500px;
    animation-duration: 5s;
    animation-delay: 25s;

}


#seventh{
    position:absolute;
    top: 300px;
    left: 200px;
    animation-duration: 8s;
    animation-delay: 31s;
   
    
}


#eight{
    position:absolute;
    top: 300px;
    left: 120px;
    animation-duration: 8s;
    animation-delay: 40s;
}

#nine{
    position:absolute;
    top: 300px;
    left: 450px;
    animation-duration: 8s;
    animation-delay: 49s;
}




#blackhouse{
    position:absolute;
    opacity: 0;
    top: 100px;
    left: 280px;
    animation-delay: 58s;
    z-index: -1;
   
    
}



#whitehouse{
    position:absolute;
    opacity: 1;
    top: 100px;
    left: 280px;
    animation-delay: 68s;
    z-index: -1;
    display: none;
    
}










.video-container {
  position: relative;
}

.window {
  position: absolute;
  background-color: transparent;
/*background-color: rgba(255, 0, 0, 0.5);*/
  cursor: pointer;
}

#window1 {
  top: 380px;
  left: 595px;
  width: 25px;
  height: 25px;
}

#window2 {
  top: 380px;
  left: 676px;
  width: 25px;
  height: 25px;
}

#window3 {
  top: 384px;
  left: 760px;
  width: 25px;
  height: 25px;
}

#window4 {
  top: 430px;
  left: 595px;
  width: 25px;
  height: 25px;
}

#window5 {
  top: 430px;
  left: 676px;
  width: 25px;
  height: 25px;
}

#window6 {
  top: 432px;
  left: 758px;
  width: 25px;
  height: 25px;
}

#window7 {
  top: 475px;
  left: 595px;
  width: 25px;
  height: 25px;
}

#window8 {
  top: 477px;
  left: 676px;
  width: 25px;
  height: 25px;
}

#window9 {
  top: 477px;
  left: 759px;
  width: 25px;
  height: 25px;
}














#windowPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#windowImage {
  max-width: 100%;
  max-height: 100%;
}
































@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
          } 
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    }
}

